name: Build and Deploy 

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  generation:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build
      run: cargo build --verbose
    
    - name: Run tests
      run: cargo test --verbose
    
    - name: Run
      run: cargo run
    
    - name: Upload json file
      uses: actions/upload-artifact@v4
      with:
        name: astro
        path: astro.json

  commit-file:
    needs: generation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout target branch
        uses: actions/checkout@v6
        with:
          ref: json

      - name: Download astro.json
        uses: actions/download-artifact@v4
        with:
          name: astro

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add astro.json
          git commit -m "Update astro.json" || echo "No changes"

      - name: Push changes
        run: git push origin json